parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - vendor
    checkMissingIterableValueType: true
    checkExplicitMixed: true
    ignoreErrors:
        - '#Unreachable statement#'
